* {
  margin: 0;
}

/* text styles */

a {
  text-decoration: none;
  color: #402928;
  font-family: "Hoss Round";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h1 {
  color: #402928;
  font-family: "Hoss Round";
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h2 {
  color: #402928;
  font-family: "Acumin Pro";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h3 {
  color: #402928;
  font-family: "Acumin Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

p {
  color: #402928;
  font-family: "Acumin Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

button {
  color: #e9e7db;
  text-align: center;
  font-family: "Acumin Pro";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer-title {
  color: #e9e7db;
  font-family: "Hoss Round";
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

footer ul {
  color: #e9e7db;
  font-family: "Acumin Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

small {
  color: #e9e7db;
  font-family: "Acumin Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* header */

.wordmark {
  height: 44.83px;
  margin-left: 4.688rem;
}

.header-icons {
  height: 32px;
  width: 32px;
}

.mobile-menu {
  display: none;
  align-items: center;
  float: right;
  padding-right: 4.625rem;
  margin-top: 2rem;
}

header {
  background-color: #e9e7db;
  margin-top: 1.563rem;
  margin-bottom: 1.563rem;
}

.site-nav ul {
  list-style-type: none;
  padding-left: 0;

  /* the following 2 lines of code are adapted from https://www.reddit.com/r/css/comments/1gvbks2/how_to_prevent_nav_bar_rollover_when_window_is/ */

  display: inline-flex;
  margin-left: 40rem;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-width: 10.313rem;
  /* position: absolute;
  top: 20px;
  right: 0px; */
}

.site-nav li {
  float: right;
  margin-top: 2rem;
  padding-right: 4.625rem;

  /* the following 2 lines of code are adapted from https://stackoverflow.com/questions/572298/how-to-stop-text-from-taking-up-more-than-1-line */

  white-space: nowrap;
  overflow: hidden;
}

/* staffpicks */

body {
  background-color: #e9e7db;
  margin: 0;
}

/* the following 10 lines of code are adapted from https://codepen.io/xenvi/pen/JjXoeWz */

.suggestion-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.image1 {
  background-image: url("../img/visuals/staffpick1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.details {
  padding-top: 8rem;
  padding-left: 2rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
  display: grid;
  flex-direction: column;
  gap: 1rem;
  align-content: start;
  overflow-y: auto;
  max-width: 80rem;
  overflow: hidden;
}

button {
  width: fit-content;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background: #8f7e2d;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.illustration {
  box-sizing: border-box;
  grid-row: 7;
  display: flex;
  align-items: center;
  margin-left: 25rem;
  height: auto;
  max-width: 338px;
  max-height: 462px;
  width: 100%;
  transform: rotate(-90deg);
  background-color: transparent;
}

/* footer */

footer {
  margin-top: 0rem;
  background-color: #402928;
  color: #e9e7db;
}

footer ul li {
  box-sizing: border-box;
  list-style: none;
  display: inline-flex;
  align-items: center;
  padding: 5rem;
  padding-top: 2.5rem;
}

small {
  color: #e9e7db;
  display: flex;
  padding-bottom: 40px;
  padding-left: 7rem;
}

.telephone {
  background: url(../img/icons/white_telephone_icon.svg);
  background-repeat: no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  padding-right: 3rem;
}

.instagram {
  background: url(../img/icons/white_instagram_icon.svg);
  background-repeat: no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  padding-right: 3rem;
}

.mail {
  background: url(../img/icons/white_mail_icon.svg);
  background-repeat: no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  padding-right: 3rem;
}

/* catalogue page specific */

* {
  box-sizing: border-box;
}

.catalogue-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 1rem;
}

.main-catalogue {
  max-width: none;
  margin: 0;
}

.catalogue-item {
  padding: 2rem;
}

.catalogue-item {
  display: flex;
  flex-flow: column;
  margin: 0;
}

.catalogue-item > img {
  order: -1;
  align-self: center;
}

.book-image {
  display: grid;
  width: 100%;
}

.book-details-flexbox {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.add-to-cart-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* media queries */

/* media querie 1 - ipad pro */

/* homepage */

/* the following code on adjusting navigation bar into a hamburger menu was done using: https://www.youtube.com/watch?v=P8YuWEkTeuE&t=7020s */

@media screen and (max-width: 1050px) {
  .site-nav ul {
    list-style-type: none;
    padding-left: 0;
    display: inline-flex;
    flex-direction: column;
    margin-left: 40rem;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 10.313rem;

    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    background-color: #e9e7db;
    box-shadow: 0 40px 60px rgb(0, 0, 0, 0.1);

    padding: 80px 0 0 10px;
  }

  .mobile-menu {
    display: flex;
    align-items: center;
    float: right;
    padding-right: 4.625rem;
    margin-top: 2rem;
  }

  .suggestion-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50vh 50vh;
    align-content: start;
  }

  .image1 {
    background-image: url("../img/visuals/staffpick1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .illustration {
    box-sizing: border-box;
    grid-row: 7;
    display: flex;
    align-items: center;
    margin-left: 45rem;
    height: auto;
    max-width: 338px;
    max-height: 462px;
    width: 100%;
    transform: rotate(-90deg);
    background-color: transparent;
  }

  footer {
    margin-top: 0rem;
    background-color: #402928;
    color: #e9e7db;
  }

  footer ul li {
    box-sizing: border-box;
    list-style: none;
    display: flex;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  small {
    color: #e9e7db;
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    padding-left: 7rem;
    justify-content: center;
  }
}

/* catalogue page */

