* {
  background-color: #e9e7db;
  margin: 0;
}

* {
  background-color: #e9e7db;
  margin: 0;
}

/* text styles */

a {
  text-decoration: none;
  color: #402928;
  font-family: "Hoss Round";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h1 {
  color: #402928;
  font-family: "Hoss Round";
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h2 {
  color: #402928;
  font-family: "Acumin Pro";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h3 {
  color: #402928;
  font-family: "Acumin Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

p {
  color: #402928;
  font-family: "Acumin Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

p1 {
  color: #402928;
  font-family: "Acumin Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* header */

.wordmark {
  height: 44.83px;
  margin-left: 75px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.header-icons {
  height: 32px;
  width: 32px;
}

header {
  background-color: #e9e7db;
}

.site-nav ul {
  list-style-type: none;
  padding-left: 0;
  padding-right: 74px;
  display: inline;
  justify-content: space-between;
}

.site-nav li {
  float: right;
  margin-top: 41px;
  padding-right: 74px;
}

/* staffpicks */

body {
  margin: 0;
}

.suggestion-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.image1 {
  background-image: url("../img/visuals/staffpick1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.details {
  padding-top: 10rem;
  padding-left: 2rem;
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  max-width: 1280px;
}

button {
  width: fit-content;
  padding: 0.5rem 1.5rem;
  background: #9c8a3b;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
