* {
  background-color: #e9e7db;
  margin: 0;
}

/* text styles */

a {
  text-decoration: none;
  color: #402928;
  font-family: "Hoss Round";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h1 {
  color: #402928;
  font-family: "Hoss Round";
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  top: 238px;
  left: 640px;
  right: 323px;
}

h2 {
  color: #402928;
  font-family: "Acumin Pro";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  top: 311px;
  left: 640px;
  right: 323px;
}

h3 {
  color: #402928;
  font-family: "Acumin Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  top: 354px;
  left: 640px;
  right: 323px;
}

p {
  color: #402928;
  font-family: "Acumin Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  top: 404px;
  left: 640px;
  right: 323px;
}

p1 {
  color: #402928;
  font-family: "Acumin Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  top: 504px;
  left: 640px;
  right: 323px;
}

/* header */

.wordmark {
  height: 44.83px;
  margin-left: 75px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.header-icons {
  height: 32px;
  width: 32px;
}

header {
  background-color: #e9e7db;
}

.site-nav ul {
  list-style-type: none;
  padding-left: 0;
  padding-right: 74px;
  display: inline;
  justify-content: space-between;
}

.site-nav li {
  float: right;
  margin-top: 41px;
  padding-right: 74px;
}

/* staffpicks */

.staffpick {
  width: 588px;
  height: 658px;
  aspect-ratio: 42/47;
}

/* illustration */

.homepage-illust {
  position: absolute;
  left: 1080px;
  top: 478px;
  background-color: transparent;
  width: 460px;
  height: 628px;
  transform: rotate(-90deg);
}
