* {
  box-sizing: border-box;
}
.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-image {
  display: grid;
  width: 100%;
  padding: 2rem;
}

.product-details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10rem 0rem 0rem 2rem;
  align-content: flex-start;
}

.action-flexbox {
  display: flex;
  flex-direction: column;
}
