* {
  box-sizing: border-box;
}

.catalogue-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(18.5%, 1fr));
  grid-gap: 1rem;
}

.main-catalogue {
  max-width: none;
  margin: 0;
}

.catalogue-item {
  padding: 2rem;
}

.catalogue-item {
  display: flex;
  flex-flow: column;
  margin: 0;
}

.catalogue-item:nth-child(1) {
  grid-column: 2 / 3;
  grid-row: 1;
}

.catalogue-item:nth-child(2) {
  grid-column: 3 / 4;
  grid-row: 1;
}

.catalogue-item:nth-child(3) {
  grid-column: 4 / 5;
  grid-row: 1;
}

.catalogue-item:nth-child(4) {
  grid-column: 1 / 2;
  grid-row: 2;
}

.catalogue-item:nth-child(5) {
  grid-column: 3 / 4;
  grid-row: 2;
}

.catalogue-item:nth-child(6) {
  grid-column: 1 / 2;
  grid-row: 3;
}

.catalogue-item:nth-child(7) {
  grid-column: 3 / 4;
  grid-row: 3;
}

.catalogue-item:nth-child(8) {
  grid-column: 4 / 5;
  grid-row: 3;
}

.catalogue-item > img {
  order: -1;
  align-self: center;
}

.book-image {
  display: grid;
  width: 100%;
}

.book-details-flexbox {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.add-to-cart-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 2rem;
  margin-right: 0;
}

.bookmark-icon {
  width: 15px;
  height: 15px;
  margin-left: 4rem;
  margin-bottom: 2rem;
}
