* {
  box-sizing: border-box;
}
.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-image {
  display: grid;
  width: 70%;
  margin-left: 8rem; 
  padding: 2rem;
}

.product-details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 6rem 1rem 0rem 0rem;
}

.action-flexbox {
  display: flex;
  flex-direction: column;
}

.next-read-title{
  display: flex;
  flex-direction: column;
  margin-top: rem;
}

.next-read-container {
  display: grid;
  grid-template-columns: 10rem 10rem 10rem;
  grid-gap: 0.5rem;
}

.next-read-book{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.next-read-image {
  display: grid;
  width: 100%; 
}

.next-read-details{
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}